# Database Admin 101 - Lab

## Introduction 

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [1]:
# Import necessary packages
import sqlite3

In [2]:
ls

 Volume in drive C is OSDisk
 Volume Serial Number is EC69-20D7

 Directory of C:\Users\alwroble\Documents\AIAcademyGithubs\labs\July17_dsc-database-admin-101-lab\dsc-database-admin-101-lab

07/17/2024  10:44 AM    <DIR>          .
07/17/2024  10:44 AM    <DIR>          ..
07/17/2024  10:39 AM    <DIR>          .github
07/17/2024  10:39 AM                69 .gitignore
07/17/2024  10:42 AM    <DIR>          .ipynb_checkpoints
07/17/2024  10:39 AM                95 .learn
07/17/2024  10:39 AM             1,213 contact_list.pickle
07/17/2024  10:39 AM             1,849 CONTRIBUTING.md
07/17/2024  10:39 AM    <DIR>          env
07/17/2024  10:44 AM             7,433 index.ipynb
07/17/2024  10:39 AM             1,371 LICENSE.md
07/17/2024  10:39 AM             3,705 README.md
               7 File(s)         15,735 bytes
               5 Dir(s)  365,935,751,168 bytes free

In [3]:
# Create the database school.sqlite 
conn = sqlite3.connect('school.sqlite.db')
cur = conn.cursor()

In [9]:
ls

 Volume in drive C is OSDisk
 Volume Serial Number is EC69-20D7

 Directory of C:\Users\alwroble\Documents\AIAcademyGithubs\labs\July17_dsc-database-admin-101-lab\dsc-database-admin-101-lab

07/17/2024  11:06 AM    <DIR>          .
07/17/2024  11:06 AM    <DIR>          ..
07/17/2024  10:39 AM    <DIR>          .github
07/17/2024  10:39 AM                69 .gitignore
07/17/2024  10:42 AM    <DIR>          .ipynb_checkpoints
07/17/2024  10:39 AM                95 .learn
07/17/2024  10:39 AM             1,213 contact_list.pickle
07/17/2024  10:39 AM             1,849 CONTRIBUTING.md
07/17/2024  10:39 AM    <DIR>          env
07/17/2024  11:06 AM            10,741 index.ipynb
07/17/2024  10:39 AM             1,371 LICENSE.md
07/17/2024  10:39 AM             3,705 README.md
07/17/2024  11:03 AM             8,192 school.sqlite.db
               8 File(s)         27,235 bytes
               5 Dir(s)  365,905,321,984 bytes free

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [15]:
# Your code here
cur.execute("""CREATE TABLE contactInfo (
                                firstName TEXT,
                                lastName TEXT,
                                role TEXT,
                                phoneNum INTEGER PRIMARY KEY,
                                street TEXT,
                                city TEXT,
                                state TEXT,
                                zipcode TEXT )          
            """)

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [16]:
# Load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [31]:
# Removing duplicates
unique_contacts = [dict(t) for t in set(tuple(sorted(d.items())) for d in contacts)]
unique_contacts

[{'city': 'Hialeah',
  'firstName': 'Andrew',
  'lastName': 'Stepp',
  'role': 'student',
  'state': 'Fl',
  'street': '2981 Lamberts Branch Road',
  'telephone ': 7866419252,
  'zipcode ': '33012'},
 {'city': 'Champaign',
  'firstName': 'Christopher',
  'lastName': 'Warren',
  'role': 'student',
  'state': 'IL',
  'street': '1935 University Hill Road',
  'telephone ': 2175150957,
  'zipcode ': '61938'},
 {'city': 'Abilene',
  'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'state': 'TX',
  'street': '1461 Briarhill Lane',
  'telephone ': 3259909290,
  'zipcode ': '79602'},
 {'city': 'Ninilchik',
  'firstName': 'Mary',
  'lastName': 'Raines',
  'role': 'student',
  'state': 'AK',
  'street': '3975 Jerry Toth Drive',
  'telephone ': 9075772295,
  'zipcode ': '99639'},
 {'city': 'Lansing',
  'firstName': 'Ed',
  'lastName': 'Lyman',
  'role': 'student',
  'state': 'MI',
  'street': '3478 Be Sreet',
  'telephone ': 5179695576,
  'zipcode ': '48933'},
 {'city': 'Stamford',
  'firstName': 'Christine',
  'lastName': 'Holden',
  'role': 'staff',
  'state': 'CT',
  'street': '1672 Whitman Court',
  'telephone ': 2035687697,
  'zipcode ': '06995'},
 {'city': 'Atlanta',
  'firstName': 'Linda',
  'lastName': 'Jacobson',
  'role': 'staff',
  'state': 'GA',
  'street': '479 Musgrave Street',
  'telephone ': 4049446441,
  'zipcode ': '30303'}]

In [35]:
# Iterate over the contact list and populate the contactInfo table here
for x in unique_contacts:
    query = "INSERT OR IGNORE INTO contactInfo (firstName, lastName, role, phoneNum, street, city, state, zipcode) VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}')".format(x["firstName"], x["lastName"], x["role"], x["telephone "], x["street"], x["city"], x["state"], x["zipcode "])
#     print(query)
#     break
    cur.execute(query)

**Query the Table to Ensure it is populated**

In [36]:
# Your code here 
cur.execute("""
    SELECT * FROM contactInfo
""").fetchall()

[('Christine',
  'Holden',
  'staff',
  2035687697,
  '1672 Whitman Court',
  'Stamford',
  'CT',
  '06995'),
 ('Christopher',
  'Warren',
  'student',
  2175150957,
  '1935 University Hill Road',
  'Champaign',
  'IL',
  '61938'),
 ('Jane',
  'Evans',
  'student',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 ('Linda',
  'Jacobson',
  'staff',
  4049446441,
  '479 Musgrave Street',
  'Atlanta',
  'GA',
  '30303'),
 ('Ed',
  'Lyman',
  'student',
  5179695576,
  '3478 Be Sreet',
  'Lansing',
  'MI',
  '48933'),
 ('Andrew',
  'Stepp',
  'student',
  7866419252,
  '2981 Lamberts Branch Road',
  'Hialeah',
  'Fl',
  '33012'),
 ('Mary',
  'Raines',
  'student',
  9075772295,
  '3975 Jerry Toth Drive',
  'Ninilchik',
  'AK',
  '99639')]

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [38]:
# Your code here

conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [39]:
# Create the grades table
cur.execute("""CREATE TABLE grades (
                                userId TEXT NOT NULL, 
                                courseId TEXT NOT NULL, 
                                grade TEXT,
                                PRIMARY KEY(userId, courseId)
                                )          
            """)

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [ ]:
# Find the duplicate entry

# I noticed the duplicate beforehand and already removed it as I used the phone number as my primary key

In [ ]:
# Delete the duplicate entry

# See above

In [40]:
# Check that the duplicate entry was removed

cur.execute("""
    SELECT * FROM contactInfo
""").fetchall()

[('Christine',
  'Holden',
  'staff',
  2035687697,
  '1672 Whitman Court',
  'Stamford',
  'CT',
  '06995'),
 ('Christopher',
  'Warren',
  'student',
  2175150957,
  '1935 University Hill Road',
  'Champaign',
  'IL',
  '61938'),
 ('Jane',
  'Evans',
  'student',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 ('Linda',
  'Jacobson',
  'staff',
  4049446441,
  '479 Musgrave Street',
  'Atlanta',
  'GA',
  '30303'),
 ('Ed',
  'Lyman',
  'student',
  5179695576,
  '3478 Be Sreet',
  'Lansing',
  'MI',
  '48933'),
 ('Andrew',
  'Stepp',
  'student',
  7866419252,
  '2981 Lamberts Branch Road',
  'Hialeah',
  'Fl',
  '33012'),
 ('Mary',
  'Raines',
  'student',
  9075772295,
  '3975 Jerry Toth Drive',
  'Ninilchik',
  'AK',
  '99639')]

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [41]:
# Update Ed's address
# cur.execute('''UPDATE [table name] 
#                   SET [column name] = [new value]
#                   WHERE [column name] = [value];
#             ''')
# (firstName TEXT,
#     lastName TEXT,
#     role TEXT,
#     phoneNum INTEGER PRIMARY KEY,
#     street TEXT,
#     city TEXT,
#     state TEXT,
#     zipcode TEXT ) 

cur.execute("""UPDATE contactInfo
                  SET street = '2910 Simpson Avenue', city = 'York', state = 'PA', zipcode = '17403'
                  WHERE phoneNum = 5179695576;
            """)

In [42]:
# Query the database to ensure the change was made
cur.execute("""
    SELECT * FROM contactInfo
""").fetchall()

[('Christine',
  'Holden',
  'staff',
  2035687697,
  '1672 Whitman Court',
  'Stamford',
  'CT',
  '06995'),
 ('Christopher',
  'Warren',
  'student',
  2175150957,
  '1935 University Hill Road',
  'Champaign',
  'IL',
  '61938'),
 ('Jane',
  'Evans',
  'student',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 ('Linda',
  'Jacobson',
  'staff',
  4049446441,
  '479 Musgrave Street',
  'Atlanta',
  'GA',
  '30303'),
 ('Ed',
  'Lyman',
  'student',
  5179695576,
  '2910 Simpson Avenue',
  'York',
  'PA',
  '17403'),
 ('Andrew',
  'Stepp',
  'student',
  7866419252,
  '2981 Lamberts Branch Road',
  'Hialeah',
  'Fl',
  '33012'),
 ('Mary',
  'Raines',
  'student',
  9075772295,
  '3975 Jerry Toth Drive',
  'Ninilchik',
  'AK',
  '99639')]

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [43]:
# Your code here
conn.commit()

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.